.inputt{
    margin:5px ;
    padding:2px;
    cursor:pointer;
}

#cc-form{
    width: 500px;
    flex-direction: row;
    align-items: center;
    position:relative;
     display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}