.card-container {
    display: flex;
    flex-direction: column;
       border: 1px solid rgba(0, 0, 0, 0.914);
    border-radius: 3%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left:20px;
    width: 320px;
    height:max-content;
    max-height: 500px;
    cursor: pointer;
    backface-visibility: visible;
    transform: scale(0.8);
    font-family: 'Dancing Script' !important;
}
.card-container:hover {
    transform: scale(0.9);
    background-color:white;
    box-shadow: 1px 1px 25px 1px rgba(5, 12, 23, 1)
   }

/* ******************************************************************************************* */
.plusBtn{
    font-size:xx-large;
    font-weight:1300;
    color :rgb(114, 159, 114);
    margin-left:10px;
    transform: scale(1);
}
.plusBtn:hover{
     transform: scale(1.5);
}
/* ******************************************************************************************* */
.deleteBtn{
      font-size:xx-large;
    font-weight:1300;
    color :rgba(0, 0, 0, 0.651);
    margin-left:10px;
    transform: scale(1);
}
.deleteBtn:hover{
  transform: scale(1.5);
}
/* ******************************************************************************************* */
.minusBtn{
font-size:xx-large;
    font-weight:1300;
    color :rgb(160, 113, 113);
    margin-left:10px;
    transform: scale(1);
}
.minusBtn:hover{
  transform: scale(1.5);
}
/* ******************************************************************************************* */
.amount{
  margin-top: 0px;
  margin-left:80%;
  background-color: rgba(162, 162, 162, 0.155);
  color:rgb(0, 0, 0);
  border-radius: 50%;
  font-weight:bolder;
  font-size: xx-large;
}
/* ******************************************************************************************* */