.card-container {
    display: flex;
    flex-direction: column;
       border: 2px solid rgba(0, 0, 0, 0.914);
    border-radius: 3%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left:20px;
    width: 320px;
    height:max-content;
    max-height: 500px;
    cursor: pointer;
    backface-visibility: visible;
    transform: translateZ(1);
    transition: transform 0.2s ease-out;
    /* background-color: rgba(204, 210, 208, 0.463); */
    /* font-size: small; */
    transform: scale(0.9);
    font-family: 'Dancing Script' !important;
}
.card-container:hover {
    transform: scale(1.05);
    background-color:white;
   
    box-shadow: 1px 2px 25px 10px rgba(5, 12, 23, 1)
   }

/* ******************************************************************************************* */
.plusBtn{
    font-size:xx-large;
    font-weight:1300;
    color :rgba(24, 195, 24, 0.863);
    margin-left:10px;
    transform: scale(1);
}
.plusBtn:hover{
     transform: scale(1.5);
}
/* ******************************************************************************************* */
.deleteBtn{
      font-size:xx-large;
    font-weight:1300;
    color :black;
    margin-left:10px;
    transform: scale(1);
}
.deleteBtn:hover{
  transform: scale(1.5);
}
/* ******************************************************************************************* */
.minusBtn{
font-size:xx-large;
    font-weight:1300;
    color :rgba(173, 0, 0, 0.89);
    margin-left:10px;
    transform: scale(1);
}
.minusBtn:hover{
  transform: scale(1.5);
}
/* ******************************************************************************************* */
/* ******************************************************************************************* */