.cartIcon{
     position:fixed;
    width:80px;
    height:80px;
    color:rgb(127, 98, 147);
    margin-top:2%;
    /* transform: translateZ(-1);
    transition: transform 0.25s ease-out; */
}
.cartIcon:hover{
}
.cart-container{
    position:fixed;
    margin-left: 89%;
    margin-top: 16%;
}
.cart-container:hover{
    color:rgb(128, 120, 184);
 /* transform: scale(1); */
 cursor: pointer;
}
.counter{
    font-size:xx-large;
    font-family:'Courier New', Courier, monospace;
    /* color:rgb(66, 0, 131); */
    color:rgb(0, 0, 0);
    font-weight:bolder;
    text-align: right;
      transform: scale(2);
    text-shadow: 2px 2px 12px 12px rgb(0, 0, 0);
    position: fixed;
    margin-left: 5%;
    margin-top:1%;
}