.title {
    position: relative;
    font-size: 50px;
    font-weight: bolder;
    font-family: 'Dancing Script';
    /* color: rgb(255, 0, 217); */
 color:rgb(251, 251, 251);
    font-stretch: extra-expanded;
    /* text-shadow: 11px 1px 11px rgb(255, 0, 123); */
    background-color: rgb(0, 0, 0);
     box-shadow: 1px 1px 7px 2px rgba(135, 134, 135, 0.74);
     margin-top: 20px;
     border-radius:2%;
}
.goHome{
    color:rgb(0, 0, 0);
     position:fixed;
    margin-left: 46%;
    margin-top:32%; 
     transform: scale(3);
}
.goHome:hover{
    color:rgb(0, 0, 0);
    transform:scale(3.3);
}
.whatsApp{
    color:lightgreen;
     position:fixed;
    margin-left: 47%;
    margin-top:32%; 
     transform: scale(2);
}
.whatsApp:hover{
  color:green;
  
   }
.myImg{
    position:fixed;
    margin-left: 40%;
    margin-top:5%; 
    /* 110px; */
  transform: translateZ(-1);
    transition: transform 0.25s ease;
 width: 110px;
  height: 120px;
   /* margin: 50px; */
   
    box-shadow: 2px 1px 22px 2px rgb(0, 0, 0);
    border-radius:15%;
}
.myImg:hover{
    margin-left:37%;
    transform: scale(1.12);
    margin-top:7%;
}

.headClass {
    border-radius: 12%;
    width: 95%;
    height: 7%;
    font-size: large;
    /* font-weight: 700; */
    font-style: italic;

}