.inputt{
    margin:5px ;
    padding:2px;
    cursor:pointer;
     display: flex;
    flex-direction: row;
}

#iform{
    margin-left: 40%;
    width: 300px;
    /* flex-direction: row; */
    align-items: center;
    position:relative;
     display: grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: 1fr 1fr 1fr 1fr ;
}
.payy{
    cursor:pointer;
    border: 5  rgb(0, 0, 0);
   margin:5px;
    height:31px;
    margin-top:10px;
      color:aliceblue;
      padding: 3px;
      padding-top: 0px;
    background-color:rgb(40, 0, 148);
   font-family:serif;
    font-size:medium;
    font-weight:400;
    border-radius:4%;
}