.card {
    display: flex;
    flex-direction: column;
    /* background-color:brown; */
    border: 1px solid rgba(0, 0, 0, 0.914);
    border-radius: 3%;
    padding: 6px;
    margin-bottom: 10px;
    margin-left:20px;
    width: 410px;
    height:max-content;
    max-height: 690px;
    cursor: pointer;
    backface-visibility: visible;
    /* transform: translateZ(1.34); */
    transform:scale(0.9);
    /* transition: transform 0.2s ease-out; */
    background-color: rgba(213, 208, 235, 0.15);
    /* font-size: small; */
    font-family: 'Dancing Script' !important;
}
.plusbBtn{
    font-size:x-large;
    font-weight:800;
    color :rgb(8, 0, 165);
    margin-left:210px;
    transform: scale(1.4);
}
.plusbBtn:hover{
     transform: scale(1.6);
}
.card:hover {
    transform: scale(1);
    background-color:white;
    box-shadow: 1px 2px 25px 10px rgba(25, 12, 23, 0.736)
}


/* rgba(249, 200, 109, 0.644); */

