.myAudio {}

.btnAudio {
    width:  50px;
    height: 50px;
    position:fixed;
    margin-left: 45.7%;
    margin-top: 362px;
    color:rgb(0, 0, 0);
    border-radius: 90%;
}

.btnAudio:hover {
   color : rgb(8, 0, 165);
    transform: scale(1.125);
    box-shadow: 1px 20px 10px 9px  rgb(179, 255, 0);
}