.myAudio {}

.btnAudio {
    width:  60px;
    height: 60px;
    position:fixed;
    margin-left: 45%;
    margin-top: 26%;
    color:rgb(0, 143, 98);
    border-radius: 90%;
}

.btnAudio:hover {
    transform: scale(1.25);
    box-shadow: 10px 10px 10px 2px  rgb(0, 0, 0);
}