.myAudio {}

.btnAudio {
    width:  60px;
    height: 60px;
    position:fixed;
    margin-left: 43%;
    margin-top: 22%;
    color:rgb(29, 98, 31);
    border-radius: 90%;
}

.btnAudio:hover {
    transform: scale(1.25);
    box-shadow: 10px 10px 10px 2px  rgb(153, 153, 153);
}