.myCart{
    width:900px;
    max-width: 900px;
    margin-left:3%;
    display: grid;
    grid-template-Columns:  1fr 1fr 1fr ;
    grid-gap: 0.4%;
    margin-top: 4%;
    margin-bottom:30%;
}

.alert1 {
    margin-top: 35%;
    text-align: center;
    /* padding: 40px; */
    /* color: rgb(55, 100, 212); */
    color:black;
    font-size: 50px;
    font-stretch: extra-expanded;
    font-family: 'Dancing Script';
    font-weight: bolder;
    text-shadow: 1px 1px  1px rgb(0, 0, 0);
    transform: scale(1.22);
    /* margin-top: '36%'; */
    margin-left:110%;
}
.alertPay {
     margin-left:-42%;
  margin-top: 65%;
    /* margin-top: 350px; */
    text-align: center;
    /* padding: 40px; */
    color: rgb(55, 100, 212);
    font-size: 350x;
    /* font-stretch: extra-expanded; */
    /* font-family: 'Dancing Script'; */
    font-weight: bolder;
    text-shadow: 1px 1px  1px rgb(0, 0, 0);
     
}
.paybtn{
    cursor:pointer;
    border-style:ridge;
    border: 20 rgb(0, 0, 0);
    width :700px;
    height:50px;
      box-shadow: 1px 1px 10px 2px  rgb(0, 255, 136);
    background-color:rgb(0, 0, 0);
   font-family:serif;
    font-size:x-large;
    font-weight:800;
    border-radius:2%;
}

.paybtn:hover{
    background-color:rgb(252, 252, 252);
}