.myCart{
    width:600px;
    max-width: 900px;
    margin-left:1%;
    display: grid;
    grid-template-Columns:  1fr 1fr 1fr;
    grid-gap: 0.4%;
    margin-top: 4%;
    margin-bottom:30%;
}

.alert1 {
    margin-top: 200px;
    text-align: center;
    /* padding: 40px; */
    /* color: rgb(55, 100, 212); */
    color:black;
    font-size: 50px;
    font-stretch: extra-expanded;
    font-family: 'Dancing Script';
    font-weight: bolder;
    text-shadow: 1px 1px  1px rgb(0, 0, 0);
    transform: scale(1.22);
    /* margin-top: '36%'; */
    margin-left:110%;
}

.alertPay {
     margin-left:-42%;
  /* margin-top: 400px; */
    text-align: center;
    color: rgb(13, 37, 100);
    font-size: 350x;
    /* font-stretch: extra-expanded; */
    /* font-family: 'Dancing Script'; */
    font-weight: bolder;
    text-shadow: 1px 1px  1px rgb(0, 0, 0);
     
}


.paybtn:hover{
    color:rgb(3, 3, 216);
    background-color:rgb(252, 252, 252);
    box-shadow: 1px 1px 2px 1px  rgb(0, 52, 197);
}