.myCart{
         width: 1000px;
    margin-left:5%;
    display: grid;
    grid-template-Columns:  10fr 10fr;
    grid-gap: 5%;
    margin-top: 5%;
    margin-bottom:35%;
}

.alert1 {
    margin-top: 35%;
    text-align: center;
    /* padding: 40px; */
    /* color: rgb(55, 100, 212); */
    color:black;
    font-size: 50px;
    font-stretch: extra-expanded;
    font-family: 'Dancing Script';
    font-weight: bolder;
    text-shadow: 1px 1px  1px rgb(0, 0, 0);
    transform: scale(1.22);
    /* margin-top: '36%'; */
    margin-left:110%;
}
.alertPay {
     margin-left:-42%;
  margin-top: 65%;
    /* margin-top: 350px; */
    text-align: center;
    /* padding: 40px; */
    color: rgb(55, 100, 212);
    font-size: 350x;
    /* font-stretch: extra-expanded; */
    /* font-family: 'Dancing Script'; */
    font-weight: bolder;
    text-shadow: 1px 1px  1px rgb(0, 0, 0);
     
}
.paybtn{
    width :max-content;
    height:80px;
    backgroung-color:'green';
    color :'white';
    font-size:xx-large;
    font-weight:1200;
    border-radius:10%;
}